.clients
  color: #fff
  padding: 19px 0 15px
  background-image: linear-gradient(-179deg, $topGradientColor 0%, $bottomGradientColor 100%)
  min-height: 420px
  &__title
    margin-bottom: 14px
    text-align: center
  &-box-btn
    text-align: center
    max-width: 90%
    margin: 0 auto 30px
    &__btn
      font-size: 13px
      transition: 0.2s
      color: #F6A623
      overflow: hidden
      padding: 10px 20px 
      display: inline-block
      font-weight: 500
      border-radius: 5px
      height: 42px
      line-height: 22px
      border: 1px solid #F6A623
      text-transform: uppercase
      &:hover
        color: #fff
        cursor: pointer
        background: #d48400
        border-color: #d48400
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.24)
  &-list 
    position: relative
    &:before  
      +c
      top: 26px
      left: -11px
      margin: 0 auto
      width: calc(100% + 22px)
      height: 232px
      opacity: 0.5
      background: #017676
      box-shadow: 0 -1px 0 0 #1A8383, 0 20px 40px 0 rgba(0,0,0,0.32)
    &__item
      +clr
      height: 283px
      background: #017676
      box-shadow: 0 -1px 0 0 #1A8383, 0 20px 40px 0 rgba(0,0,0,0.30)
      margin-bottom: 32px
      cursor: url(../images/icons/drag.png) 16 9, ew-resize
    &-project
      &__box-img
      &__img
      &__text
      &__link
    &-team
      &__title
      &__list
      &__item
      &__number
    &-stat 
      &__list
      &__item
      &__title
      &__description
    &-quote-block
      &__text
    &-about
      &__name
      &__description
      &__img-box
      &__img
  .swiper-button-prev, .swiper-button-next
    top: 39%
  .swiper-button-prev
    left: -20px
  .swiper-button-next
    right: -20px
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev
    +svg(icon-arrow-slide, 25, 20)
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next
    +svg(icon-arrow-slide, 25, 20)
    +rotate(180)
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right
    background: initial
  .swiper-container
    text-align: center
    width: 270px
    .swiper-slide
      border-right: none
      &:not(:last-child) 
        border-right: none
    
    
  +min-screen(768)
    padding: 28px 0
    &__title
      margin-bottom: 15px
    &-list 
      &:before  
        top: 20px
        height: 430px
      &__item 
        height: 470px
        box-shadow: 0 -1px 0 0 #1A8383, 0 20px 40px 0 rgba(0,0,0,0.0)
      &__side
        float: left
        &_left
          width: 450px
        &_right
          width: 250px
          height: 100%
          background: #1A8383
    .swiper-container
      width: 700px
    .swiper-button-prev
      left: 5px
    .swiper-button-next
      right: 5px
  +min-screen(1024)
    padding: 40px 0 47px
    &__title
      margin-bottom: 25px
    &-list 
      &:before  
        top: 48px
        height: 500px
        max-width: 937px
        padding: 0
        left: 0
        margin: 0 auto
      &__item 
        height: 600px
        box-shadow: 0 0 0 0 #1A8383, 10px 20px 40px 0 rgba(0,0,0,0.1)
        margin-bottom: 62px
      &__side
        &_left
          width: 500px
        &_right
          width: 320px
    .swiper-button-prev, .swiper-button-next
      top: 43%
      // display: none
    .swiper-container
      width: 820px
    .swiper-button-prev
      left: 5px
    .swiper-button-next
      right: 5px
