.first-section
  color: #323232
  padding: 17px 0
  min-height: 420px
  &__title
    color: #1A8383
    margin-bottom: 28px
  +min-screen(768)
    padding: 26px 0
    &__title
      margin-bottom: 25px
  +min-screen(1024)
    padding: 35px 0
    &__title
      margin-bottom: 69px
  a 
    color: #1A8383

