.header-site
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 9
  background: #fff
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.15)
  &__left
    float: left
    +fs(0)
  &__right
    float: right
  &__logo
    margin: 7px 0 6px
    +svg(logo-techmagic, 143, 37)
    display: inline-block
    margin-left: 9px
  &__hamburger
    +fs(0)
    top: 0
    right: 0
    +tr(0.3s)
    width: 50px
    height: 50px
    position: absolute
    background: #1A8383
    &:hover 
      cursor: pointer
    &:before 
      +ci
      +svg(icon-hamburger, 23, 19)
    &_active 
      &:before 
        +svg(icon-hamburger-close, 23, 19)
  +min-screen(768)
    &__logo
      margin-left: 69px
      +svg(logo-techmagic, 133, 35)
    &__hamburger 
      display: none
  +min-screen(1024)
    &__logo
      margin: 18px 0 16px
      +svg(logo-techmagic, 160, 42)


.main-nav
  display: none
  ul 
    display: none
    padding: 0
    margin: 0
    li 
      border: 0
  &_open
    display: block
  &__item
    &_btn a 
      text-decoration: none !important
    &:hover:not(.main-nav__item_active) a 
      text-decoration: underline
  +screen(320px, 767px)
    left: 0
    top: 100%
    z-index: 9
    width: 100%
    position: absolute
    background: #1A8383
    list-style-type: none
    padding: 7px 2px
    &_orange 
      background: #06696a
      .main-nav
        &__a 
          color: #f5a623
          &:hover 
            text-decoration: underline !important
        &__item
          &:hover > .main-nav__a 
            color: #f5a623
            background: transparent
          &_active > .main-nav__a, 
          &_active:hover > .main-nav__a 
            color: #fff
            cursor: default
            text-decoration: none !important
          ul .main-nav__item
            font-size: 14px
            font-weight: 500
            line-height: 1.43
    &__item
      +fs(18)
      display: block
      line-height: 1
      list-style-type: none
      border-bottom: 1px solid #3AA7A7
      &:last-child,
      &_border-none
        border-bottom: none
      &:hover > a
        background: #3AA7A7
        color: #fff
      &_active
        > ul 
          display: block
          padding: 7px 0 14px
          .main-nav__item_active .main-nav__a
            background: #1a8383 !important
    &__a
      color: #fff
      display: block
      font-weight: 500
      padding: 12px 30px
      line-height: 17px
      text-transform: capitalize
      text-decoration: none !important
  +min-screen(768px)
    display: block
    padding: 8px 0
    &__a 
      +fs(14)
      display: block
      color: #017676
      font-weight: 700
      padding: 9px 24px
      text-transform: capitalize
    &__item
      display: inline-block
      vertical-align: top
      &_active a
        color: #323232
        cursor: default
      &_btn 
        +fs(12)
        text-align: center
        margin-left: 36px
        &:hover 
          a
            color: #fff
            background: #D48400
        a 
          +fs(13)
          +tr(0.2s)
          color: #D48400
          overflow: hidden
          padding: 10px 27px
          font-weight: 500
          border-radius: 5px
          border: 1px solid #D48400
          text-transform: uppercase
    +min-screen(1024px)
      padding: 18px 0
      &__a 
        padding: 12px 30px
      &__item
        &_btn 
          margin-left: 15px
          a 
            padding: 12px 30px



              



