.honors
  color: #323232
  padding: 19px 10px 14px
  &__title
    color: #1A8383
    margin-bottom: 16px
  &-list 
    column-count: 2
    moz-column-gap: 8px
    width: 300px
    margin: 0 auto
    &__item
      margin-bottom: 10px
      width: 145px
      border: 1px solid #D48400
    &__img-box
      height: 70px
      display: flex
      overflow: hidden
      align-items: center
      justify-content: center
    &__img
      max-width: 100%
      height: initial
      &_1
        width: 100px
        height: 29px
      &_2
        width: 61px
        height: 21px
      &_3
        width: 89px
        height: 32px
      &_4
        width: 81px
        height: 23px
    &__title
      height: 20px
      display: flex
      color: #3AA7A7
      font-size: 11px
      overflow: hidden
      align-items: center
      justify-content: center
      border-top: 1px dashed #D48400
  +min-screen(650)
    padding: 30px 0
    &-list 
      width: 642px
      column-count: 4
      moz-column-gap: 8px
      &__item
        width: 154px
      &__img-box
        height: 60px
      &__title
        height: 20px
  +min-screen(768)
    padding: 30px 0 44px
    &__title
      margin-bottom: 23px
      font-size: 28px
  +min-screen(1024)
    padding: 40px 0 54px
    &__title
      margin-bottom: 30px
      font-size: 48px
    &-list 
      width: 940px
      moz-column-gap: 20px
      &__item
        width: 220px
        img 
          width: initial
          height: initial
      &__img-box
        height: 80px
      &__title
        height: 30px
  a 
    color: #1A8383

