.team
  color: #fff
  padding: 17px 0
  background-image: linear-gradient(-179deg, $topGradientColor 0%, $bottomGradientColor 100%)
  min-height: 420px
  &__title
    margin-bottom: 28px
  +min-screen(768)
    padding: 26px 0
    &__title
      margin-bottom: 25px
  +min-screen(1024)
    padding: 35px 0
    &__title
      margin-bottom: 69px

