.team
  color: #fff
  padding: 17px 0 21px
  text-align: center
  background-image: linear-gradient($topGradientColor 0%, $bottomGradientColor 100%)
  .swiper-container
    margin-bottom: 14px
    width: 300px
    position: relative
    &:before
      +c 
      top: 15px
      left: 0
      right: 0 
      margin: auto 
      width: 270px
      height: 180px
      opacity: 0.5
      background: #017676
      box-shadow: 0 -1px 0 0 #1A8383, 0 20px 40px 0 rgba(0,0,0,0.32)
  .swiper-button-prev, .swiper-button-next
    top: 44%
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev
    +svg(icon-arrow-slide, 25, 20)
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next
    +svg(icon-arrow-slide, 25, 20)
    +rotate(180)
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right
    background: initial
  
  br
    position: absolute
    widows: 1px
    height: 1px
  &__title
    margin-bottom: 0px
  &-wrap
    overflow: hidden
  &-box-btn
    // padding: 42px 0
    // border-top: 1px solid #1A8383
    max-width: 100%
    margin: 0 auto 0
    &__btn
      font-size: 13px
      transition: 0.2s
      color: #F6A623
      overflow: hidden
      padding: 10px 20px
      font-weight: 500
      border-radius: 5px
      border: 1px solid #F6A623
      text-transform: uppercase
      display: block
      &:hover
        color: #fff
        cursor: pointer
        background: #d48400
        border-color: #d48400
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.24)
  &-list
    margin: 0 auto
    padding-top: 20px
    &_tablet
      display: none
    &_mobile
      display: block
    &__item
      margin-bottom: 15px
    &__img-box
      width: 210px
      height: 210px
      overflow: hidden
      background: #ECF0EF
      margin: 0 auto 10px auto
      box-shadow: 0 -1px 0 0 #1A8383, 0 20px 40px 0 rgba(0,0,0,0.32)
    &__img
      max-width: 100%
      width: 100%
    &__name
      font-size: 14px
      letter-spacing: 0
      line-height: 14px
      font-weight: 900
      text-transform: uppercase
    &__position
      +fs(13)
      font-weight: 400
      letter-spacing: 0
      line-height: 18px
  +min-screen(768)
    padding: 28px 0
    .swiper-container
      margin: 0
      width: initial
      &:before
        content: none
      .swiper-slide
        border: none
        min-height: initial
        width: initial !important
        height: initial
        &:not(:last-child)
          border: none
          min-height: initial
          width: initial !important
          transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg) !important
    .swiper-button-prev,
    .swiper-button-next
      display: none
    .swiper-wrapper
      height: initial
      width: initial
      display: block !important
      cursor: default !important
      pointer-events: none
      transform: translate3d(0px, 0px, 0px) !important
    br
      position: static
    &__title
      margin-bottom: 25px
    &-list
      padding-top: 0
      margin-bottom: 5px
      &_tablet
        display: block
      &_mobile
        height: 0px
        overflow: hidden
      &__item
        display: inline-block
        margin-left: 38px
        margin-right: 38px
        margin-bottom: 28px
        &_4
          margin-left: 20px
          margin-right: 20px
        &_circle
          vertical-align: top
          .team-list__img-box
            background: transparent
            box-shadow: none
            border: 1px solid #3AA7A7
            border-radius: 50%
            width: 120px
            height: 120px
            color: #3AA7A7
      &__img-box
        width: 125px
        height: 125px
  +min-screen(1024)
    padding: 40px 0 60px
    &__title
      margin-bottom: 42px
    &-list
      max-width: 960px
      margin-bottom: 0px
      &__item
        margin-bottom: 45px
        &_4
          margin-left: 35px
          margin-right: 35px
        &_circle
          width: 140px
          .team-list__img-box
            width: 135px
            height: 135px
      &__img-box
        width: 140px
        height: 140px



.team-btn
  padding: 30px 10px
  font-weight: 400
  font-size: 13px
  color: #3AA7A7
  &_xs 
    display: block
    padding: 0px
    margin-top: -11px
    margin-bottom: 30px
    .team-btn__count
      font-size: 24px
      line-height: 32px
    .team-btn__p
      font-size: 13px
      margin-bottom: 10px
    .team-box-btn__btn
      width: 150px
      margin-left: auto
      margin-right: auto
  &__count
    font-size: 24px
  &__p
    font-weight: 500
  +min-screen(768)
    &_xs
      display: none
  +min-screen(1024)
    padding: 35px 15px 10px
    &__p
      line-height: 16px

.ico-li
  position: relative
  vertical-align: middle
  color: #fff
  padding-left: 25px
  line-height: 20px
  margin-top: 4px
  display: inline-block
  cursor: default
  &:before 
    +c 
    +svg(social-linkedin_orange, 20, 20)
    left: 0
    bottom: 0
    top: 0
    margin: auto
    cursor: pointer