.careers
  margin: 50px 0 0
  .container
    height: inherit
    display: table
  .margin-top
    margin-top: 20px
  p 
    padding-bottom: 7px
    &.p-ul
      margin-bottom: 0 
  ul, ol 
    padding: 0
    margin: 2px 0 22px
    list-style-type: none
    li 
      position: relative
      padding: 0 0 0 15px
      &:before
        +c 
        top: 11px
        left: 2px
        width: 4px
        height: 4px
        overflow: hidden
        background: #000
        border-radius: 50%
  a 
    text-decoration: none
    &:hover
      text-decoration: underline
  &-aside
    display: none
    background-image: linear-gradient(-179deg, #276C80 0%, #006866 100%)
    color: #F6A623
    vertical-align: top
    padding: 25px
    margin: 0 -11px 0 -12px
    &-menu
      &__item
        font-weight: 500
        font-size: 14px
        color: #F6A623
        letter-spacing: 0
        line-height: 20px
        display: block
        margin-bottom: 16px
        &:hover
          text-decoration: underline
        &_active
          // background: #1a8383
          color: #fff
          cursor: default
          text-decoration: none !important
      
  &-main
    padding: 30px 10px
    padding-top: 10px 
    background: #fff
    h3 
      font-weight: 300
      color: #323232
      margin-bottom: 10px
      font-size: 16px
      font-weight: 400
    h4
      font-weight: 700
      font-size: 12px
      line-height: 21px
    &__title
      color: #1A8383
      font-size: 48px 
      line-height: 1.2
      margin-bottom: 15px
    p
      line-height: 20px
      font-size: 12px
      margin-bottom: 15px 
    li
      line-height: 22px
    a 
      color: #D48400
      line-height: 20px
    .tm-btn
      text-decoration: none
      color: #fff
      &:hover
        text-decoration: none
  +min-screen(768)
    margin: 50px 0 0
    background: linear-gradient(to right, #006866 0%, #006866 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%)
    &-aside
      margin: 0
      width: 220px
      height: 100%
      padding: 25px 0 
      min-height: 100%
      display: table-cell
      vertical-align: top
      background-image: none
    &-main
      height: 100%
      padding: 30px
      min-height: 100%
      display: table-cell
      vertical-align: top
      h3
        font-size: 26px
        line-height: 26px
  +min-screen(1024)
    margin: 70px 0 0
    &-aside
      padding-top: 40px
      &-menu
        a
          margin-bottom: 20px
    &-main 
      padding: 27px 60px 60px 20px
      h4 br
        display: none
        column-gap: 20px
    ul, ol
      column-count: 2
.fixed-footer
  +min-screen(768)
    .careers
      height: 100%
      &-main, &-aside
        padding-bottom: 180px
    .footer-site
      margin-top: -59px
  +min-screen(1024)
    .careers
      height: 100%
      &-main, &-aside
        padding-bottom: 114px
    .footer-site
      margin-top: -114px


