.careers
  padding: 67px 0 0
  height: 100%
  .container
    height: 100%
    display: table
  +min-screen(768)
    padding: 50px 0 0
    &-aside
      display: table-cell
      width: 220px
      height: 100%
      min-height: 100%
      color: #F6A623
      // padding: 20px
      background-image: linear-gradient(-179deg, #276C80 0%, #006866 100%)
      &-menu
        a
          font-weight: 500
          font-size: 14px
          color: #F6A623
          letter-spacing: 0
          line-height: 20px
          display: block
          margin-bottom: 20px
    &-main 
      padding: 20px
      display: table-cell
      &__header 
        line-height: 26px
        font-size: 26px
        font-weight: 300
        color: #323232
        margin-bottom: 20px
      &__title
        color: #1A8383
        font-size: 48px 
        line-height: 1.2
        margin-bottom: 10px
      p
        line-height: 20px
        font-size: 12px
      li
        line-height: 22px
      a 
        color: #D48400
        line-height: 20px
  +min-screen(1024)
    padding: 70px 0 0